node_modules
.eslintrc.json

client/node_modules/**/*
client/.expo/*
client/npm-debug.*
client/*.jks
client/*.p12
client/*.key
client/*.mobileprovision
client/environment.js

server/node_modules
server/.env
server/uploads
